@font-face {
    font-family: "vazir";
    src: url("../fonts/vazir/Vazir-FD-WOL.woff") format("woff2"),
        url("../fonts/vazir/Vazir-FD-WOL.woff") format("woff"),
        url("../fonts/vazir/Vazir-FD-WOL.ttf") format("truetype");
}

:root {
    // 227, 47%, 52%
    // 179, 70%, 45%

    --hue: 120;
    --sat: 61%;

    --primary-color: hsl(var(--hue), var(--sat), 52%);
    --primary-color-light: hsl(var(--hue), var(--sat), 85%);
    --primary-color-lighten: hsl(var(--hue), var(--sat), 80%);
    --secondary-color: hsl(var(--hue), var(--sat), 53%);

    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 65%);
    --body-color: hsl(var(--hue), 0%, 62%);
    --container-color: #9e9e9e;
    --ff-primary: "vazir", sans-serif;
}
